<script>
  function toggleDropdown() {
    document.getElementById("aiv-contact-dropdown").classList.toggle("show-dropdown");
  }

  window.onclick = function (event) {
    if (
      !event.target.matches(".aiv-dropdown-content") &&
      !event.target.matches(".contact-redirect") &&
      !event.target.matches(".contact-label") &&
      !event.target.matches(".contact-icon")
    ) {
      var dropdown = document.getElementsByClassName("aiv-dropdown-content")[0];
      if (dropdown.classList.contains("show-dropdown")) {
        dropdown.classList.remove("show-dropdown");
      }
    }
  };
</script>

<div class="aiv-header">
  <div class="aiv-header-left-container">
    <a
      href="https://overheid.vlaanderen.be/digitaal-vlaanderen/informatie-vlaanderen"
      aria-label="Vlaanderen"
      class="aiv-header-link"
    >
      <div class="aiv-header-brand-umbrella-logo">
        <span aria-hidden="true"> </span>
        <div class="aiv-header-logo-container">
          <img
            alt="AIV-logo"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAA2CAMAAACV3rt9AAAAM1BMVEUAAAA6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODo6ODoxn0D5AAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAf1JREFUOMuFlduirCAMQwMiVEVY//+156F4m3H24clxYpumaZH8TIv+c6a9/gdhnb8hoQJ/Jgo7wCQp/oIsAKYorfkHpEOfpbpr7u9xEuxRijCL9QdkD5J2KKo9SDGbmaU7pEdJKxBllEF/aft0QmIZiFVKNEkRUqe1cE+2Ai1I8uILKYVK+RCmTwrS7hIadecm+DQQKlELu3+VbO0nZOrgRbWkDKc0a71nqUFSwRThVHjZjiYfMWInS/2lnx16kGuXpG2QuR9gHnV3Dxq/IU2SMmDesa9278c/rl3gu5UJk0IHkmKQmkd9nLxI22jRKm0Q3vyPl5UJskH/46yDq5E0++Onv8FL3Vzfl3nJwOYymtTow0jNHnmyUzJpO8gkqEvzmHXkKWBSPpVpAHBARpdmKY65cz0vSHXLkiRtJ+HUPiBl/MwDKkm5+bvx2YYbIfRb3aEj/7y6LdbTZfGaeA0S3gUXIjSuATE0yDwozENKF+2Q18MfLOv5ODldhU9Igp4kqfQBEfUJUQNWW05dJLJDymNzcakrlVHqqtt00Raz2rgsMcNl2/ke8mmsG9/yYs+NS/j0MgdH7/MR0n4v4LHhSO8beAfG6r0tw+/LYB8Xh4Xfy95GxL6+R0p9rBvfkZvN36TCNhTxC+ZswPP+shP8C3JdS3P7BbllzRX+AW4mIELSL5qxAAAAAElFTkSuQmCC"
            class="aiv-header-umbrella-logo-icon"
            width="17"
            height="27"
          />
        </div>
        <span aria-hidden="true" class="aiv-header-umbrella-logo-after"> </span>
        <span class="aiv-header-umbrella-logo-label hidden-xs hidden-sm hidden-md"
          >Vlaanderen</span
        >
        <span
          aria-hidden="true"
          class="aiv-header-separator hidden-xs hidden-sm hidden-md"
        ></span>
      </div>
    </a>
    <ul class="aiv-navbar" role="menu">
      <li data-ng-repeat-start="menu in toolbarMenu"></li>
      <li data-ng-if="menu == 'gn-site-name-menu'" gn-site-name-menu=""></li>
      <li data-ng-if="menu == 'gn-portal-switcher'" gn-portal-switcher=""></li>
      <li data-ng-if="menu == 'gn-search-menu'" gn-search-menu=""></li>
      <li data-ng-if="menu == 'gn-map-menu'" gn-map-menu=""></li>
      <li data-ng-if="menu == 'gn-contribute-menu'" gn-contribute-menu=""></li>
      <li data-ng-if="menu == 'gn-admin-menu'" gn-admin-menu=""></li>
      <li
        data-ng-if="isPage(menu)"
        gn-static-page-menu="menu"
        language="{{lang}}"
        section="top"
      ></li>
      <ul
        data-ng-if="menu == 'gn-static-pages-list-viewer'"
        gn-static-pages-list-viewer=""
        language="{{lang}}"
        section="top"
        class="nav navbar-nav gn-menu-xs"
      ></ul>
      <li data-ng-repeat-end=""></li>
    </ul>
  </div>

  <div class="aiv-header-right-container">
    <div class="contact-wrapper">
      <a class="contact-redirect" onclick="toggleDropdown()">
        <i class="fa fa-question-circle contact-icon"></i>
        <span class="contact-label hidden-xs hidden-sm hidden-md"
          >{{'contactUs' | translate}}</span
        >
      </a>
      <div id="aiv-contact-dropdown" class="aiv-dropdown-content">
        <div class="contact-menu-header aiv-dropdown-content">
          <span class="menu-item-title aiv-dropdown-content"
            >{{'contactUs' | translate}}</span
          >
        </div>
        <ul class="menu-items aiv-dropdown-content" style="max-height: 1147px">
          <li class="menu-item aiv-dropdown-content">
            <div
              class="menu-item-wrapper item-icon-call aiv-dropdown-content"
              tabindex="0"
            >
              <span class="menu-item-title aiv-dropdown-content"
                >{{'callUs' | translate}}</span
              >
              <div class="menu-item-description aiv-dropdown-content">09 276 15 00</div>
            </div>
          </li>
          <li class="menu-item aiv-dropdown-content">
            <a
              class="menu-item-wrapper item-icon-mail menu-item-mail aiv-dropdown-content"
              href="mailto:digitaal.vlaanderen@vlaanderen.be"
              target="_self"
            >
              <span class="menu-item-title aiv-dropdown-content"
                >{{'mailUs' | translate}}</span
              >
              <div class="menu-item-description aiv-dropdown-content">
                digitaal.vlaanderen@vlaanderen.be
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="aiv-login-wrapper">
      <ul gn-signin-menu="" class="aiv-nav-login"></ul>
    </div>
  </div>
</div>
