parameter.gn.system.feedback.mailServer.password=
# default password hash (password 'admin') is given below in the example
parameter.mdv.passwordhash=46e44386069f7cf0d4f2a420b9a2383a612f316e2024b0fe84052b0b96c479a23e8a0be8b90fb8c2
